"*":
  core:
    autoHideMenuBar: true
    projectHome: "/home/matt/projects"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrapHangingIndent: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "b81ba95e-ad0a-44e4-2193-b21ec62012c0"
  fonts:
    fontFamily: "Inconsolata"
  minimap:
    displayPluginsControls: false
  "tree-view-open-files": {}
  welcome:
    showOnStartup: false
