"*":
  core:
    autoHideMenuBar: true
    customFileTypes:
      "source.pascal": [
        "inc"
      ]
    disabledPackages: [
      "seti-icons"
    ]
    packagesWithKeymapsDisabled: [
      "task-list"
    ]
    projectHome: "/home/matt/projects"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 21
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrapHangingIndent: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "b81ba95e-ad0a-44e4-2193-b21ec62012c0"
  fonts:
    fontFamily: "Inconsolata"
  "highlight-selected": {}
  minimap:
    displayPluginsControls: false
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "**/NVDevices/"
      "**/NVClient/"
      "**/pkgs/"
      "*/database/"
      "**/siem/"
    ]
    sortBy: "Path"
    statusBarIndicator: true
  "tree-view-open-files": {}
  welcome:
    showOnStartup: false
".diff.source":
  editor:
    softWrapHangingIndent: 4
".gpd.source":
  editor:
    softWrapHangingIndent: 4
".gpd_note.source":
  editor:
    softWrapHangingIndent: 4
".pascal.source":
  editor:
    softWrapHangingIndent: 4
