"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "seti-icons"
    ]
    packagesWithKeymapsDisabled: [
      "task-list"
    ]
    projectHome: "/home/matt/projects"
    themes: [
      "seti-ui"
      "seti-syntax"
    ]
    customFileTypes:
      "source.pascal": [
        'inc'
      ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 21
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    softWrapHangingIndent: 4
    tabType: "soft"
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "b81ba95e-ad0a-44e4-2193-b21ec62012c0"
  fonts:
    fontFamily: "Inconsolata"
  "highlight-selected": {}
  minimap:
    displayPluginsControls: false
  "tree-view-open-files": {}
  welcome:
    showOnStartup: false
".gpd.source":
  editor:
    softWrapHangingIndent: 4
".gpd_note.source":
  editor:
    softWrapHangingIndent: 4
".pascal.source":
  editor:
    softWrapHangingIndent: 4
