[
  {
    title: "em_client"
    paths: [
      "/home/matt/projects/em_client"
      "/home/matt/projects/em-web-client"
    ]
    icon: "icon-comment-discussion"
  }
  {
    title: "siem"
    group: "siem"
    paths: [
      "/home/matt/projects/siem"
    ]
    icon: "icon-issue-opened"
  }
  {
    title: "Shuhari"
    paths: [
      "/home/matt/projects/shuhari"
    ]
    icon: "icon-browser"
  }
]
